!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="description" content="a free, open source, and cross-platform media player")
    %meta(name="keywords" content="mpv, mplayer, download, media player, player download, encoder, video, video player, multimedia, multicast, Windows, Linux, Unix, BSD, Mac, OS X, OSX, Streaming, DVD, Matroska, MPEG, MPEG2, MPEG4, H264, DivX, MKV, m2ts, open source, free software, floss, free")
    %link(rel="icon" type="image/png" href="/images/favicon.png")
    %title= [ "mpv.io", current_page.data.title ].compact.join(" | ")

    = stylesheet_link_tag "all"
    = javascript_include_tag "all"

  %body{class: page_classes}
    = partial "layouts/navbar"
    = yield

    %footer
      .container
        %small.pull-left.text-muted.copyright
          &copy; 2012-#{Time.now.year} mpv.io

        .social-icons.pull-right
          = link_to github_path, target: :_blank do
            %i.fa.fa-github-alt

          = link_to twitter_path, target: :_blank do
            %i.fa.fa-twitter

    = partial "layouts/tracking"
