.jumbotron
  .container
    %h1
      = image_tag "mpv-logo-128.png", width: "45px", height: "45px"
      mpv
    %p a free and open-source, cross-platform media player
    = image_tag "mpv-screenshot.jpg", class: 'screenshot'

.main-content
  .container
    = partial :overview

.next-steps
  .container
    %h2 Here are a few places you may want to go next...
    %hr
    .row
      .col-xs-6
        = link_to installation_path, class: "composite" do
          %i.fa.fa-cloud-download.big-circle
          %h3 Installation
      // .col-xs-6
      //   = link_to getting_started_path, class: "composite" do
      //     %i.fa.fa-book.big-circle
      //     %h3 Getting started guide
      .col-xs-6
        = link_to github_path, class: "composite" do
          %i.fa.fa-github.big-circle
          %h3 Source Code Repository
