---
title: Installation
---

.main-content
  .container
    %h1
      %i.fa.fa-cloud-download
      Installation

    %p
      The current stable release is
      %b
        = partial 'manual/stable_version.html.erb'
      \. Using git master is recommended, although it may be slightly unstable at times.

    %table.table.table-condensed
      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-terminal
              Source code
          %p
            If you want bleeding edge functionality, link against git versions
            of FFmpeg or if a package for your platform is not available or
            updated, you can build mpv from source code. The helper build
            scripts are recommended for most users since they perform a static
            build of FFmpeg and libass as well as mpv.

      = package_row 'git repository', 'https://github.com/mpv-player/mpv/', :"github-alt"
      = package_row 'Latest stable release tarball', 'https://github.com/mpv-player/mpv/releases/latest', :"github-alt"
      = package_row 'Release changelog', 'https://github.com/mpv-player/mpv/releases', :"github-alt"
      = package_row 'Helper build scripts for *nix systems', 'https://github.com/mpv-player/mpv-build', :"github-alt"


      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-linux
              Linux packages

      = package_row 'Alpine', 'http://git.alpinelinux.org/cgit/aports/tree/main/mpv'
      = package_row 'Arch (official)', 'https://www.archlinux.org/packages/?q=mpv'
      = package_row 'Arch (aur, git package)', 'https://aur.archlinux.org/packages/mpv-git/'
      = package_row 'Arch (aur, mpv-build package)', 'https://aur.archlinux.org/packages/mpv-build-git/'
      = package_row 'CRUX', 'http://crux.nu/portdb/?a=search&q=mpv'
      = package_row 'Debian unstable', 'https://packages.debian.org/sid/mpv'
      = package_row 'Debian multimedia (unofficial)', 'http://www.deb-multimedia.org/dists/testing/main/binary-amd64/package/mpv'
      = package_row 'Exherbo', 'http://git.exherbo.org/summer/packages/media/mpv/index.html'
      = package_row 'Funtoo', 'https://github.com/funtoo/funtoo-overlay/tree/master/media-video/mpv'
      = package_row 'Gentoo (use latest unstable)', 'https://packages.gentoo.org/package/media-video/mpv'
      = package_row 'NixOS', 'https://github.com/NixOS/nixpkgs/blob/master/pkgs/applications/video/mpv/default.nix'
      = package_row 'OpenSUSE (packman)', 'http://packman.links2linux.de/package/mpv'
      = package_row 'Rosa', 'https://abf.rosalinux.ru/import/mpv'
      = package_row 'Slackware (SlackBuilds)', 'http://slackbuilds.org/repository/14.1/multimedia/mpv/'
      = package_row 'Ubuntu (mpv PPA by D. McMahon)', 'https://launchpad.net/~mc3man/+archive/ubuntu/mpv-tests'
      = package_row 'Ubuntu (multimedia PPA by D. McMahon)', 'https://launchpad.net/~mc3man/+archive/ubuntu/trusty-media'


      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-linux
              Outdated/unmaintained Linux packages

      = package_row 'Debian testing', 'https://packages.debian.org/testing/mpv'
      = package_row 'Fedora (RPM Fusion)', 'http://cvs.rpmfusion.org/viewvc/rpms/mpv/?root=free'
      = package_row 'Ubuntu (vidid)', 'http://packages.ubuntu.com/vivid/video/mpv'

      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-apple
              OS X

      = package_row '64-bit binary (by ChrisK) [OS X 10.8+]',
                    'http://sva.wakku.to/~chris/mpv_builds/mpv_latest.zip',
                    :"cloud-download"
      = package_row 'Fink (outdated)', 'http://pdb.finkproject.org/pdb/package.php/mpv'
      = package_row 'Homebrew', 'https://github.com/mpv-player/homebrew-mpv'
      = package_row 'MacPorts', 'https://trac.macports.org/browser/trunk/dports/multimedia/mpv/Portfile'

      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-windows
            Windows

      = package_row 'Windows builds by lachs0r',
                    'http://mpv.srsfckn.biz',
                    :"cloud-download"
      = package_row 'Compilation instructions', 'https://github.com/mpv-player/mpv/blob/master/DOCS/compile-windows.md'
      = package_row 'MSYS2 source package', 'https://github.com/Alexpux/MINGW-packages/tree/master/mingw-w64-mpv'

      %tr
        %td(colspan="2")
          %h3
            Other platforms

      = package_row 'FreeBSD (Freshports)', 'http://www.freshports.org/multimedia/mpv/'
      = package_row 'NetBSD', 'http://cvsweb.netbsd.org/bsdweb.cgi/pkgsrc/multimedia/mpv/'
      = package_row 'OpenBSD', 'http://cvsweb.openbsd.org/cgi-bin/cvsweb/ports/multimedia/mpv/'
      = package_row 'OpenIndiana / illumos (very outdated!)', 'http://pkg.openindiana.org/sfe-encumbered/en/catalog.shtml '

    %p
      Do you know of a package that is missing?
      = succeed "." do
        = link_to "Write us about it", "https://github.com/mpv-player/mpv.io/issues/new?title=Package missing"

.next-steps
  .container
    %h2 Installed successfully?
    %hr
    .row
      .col-xs-4
        = link_to getting_started_path, class: "composite" do
          %i.fa.fa-book.big-circle
          %h3 Getting Started
      .col-xs-4
        = link_to community_path, class: "composite" do
          %i.fa.fa-comments.big-circle
          %h3 Community
      .col-xs-4
        = link_to bug_reports_path, class: "composite" do
          %i.fa.fa-bug.big-circle
          %h3 Nope (Report a bug)

